.FootBar {
	position: fixed;

  bottom: 0;
  height: 80px;
  align-items: center;
  gap: 2.5rem;
  z-index: 99999;
  background-color: #D9C8B4;
  left: 0;
  right: 0;
  padding-top: .5rem;
  justify-content: center;
  display: flex;

  a {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: .5rem;
    margin: auto 0;
    color: var(--backgroundCard);
    font-weight: 400;
    text-decoration: none;
    span {
      display: block;
      font-size: .875rem;
      text-transform: uppercase;
    }
  }
  @media screen and (min-width: 768px){
    display: none;
  }
}
