.grid {
  display: grid;
  grid-template-columns: var(--grid);
  gap: 0 var(--gridGap);

  > *, > .container {
    grid-column: 2/-2;

    @media screen and (max-width: 1199px){
      margin: 0;
      max-width: 100%;
      width: 100%;
    }
  }

  &_inner{
    display: grid;
    grid-template-columns: var(--gridinner);
    gap: 0 var(--gridGap);
    > * {
      grid-column: 2/-1;
      width: calc(100% - 2rem);
    }
    @media screen and (max-width: 1199px){
      > * {
        grid-column: 1/-1;
        width: calc(100% - 2rem);
      }
    }

  }
}

.container {
  grid-column: 2/-2;
  max-width: var(--container);
  margin: 0 auto;
  @media screen and (max-width: 1199px){
    margin: 0 1rem;
  }
}

.layout-header {

  height: 200px;
  background-color: var(--background);

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: inherit;
    align-items: end;
    margin-top: 1rem;
    margin-bottom: 1.75rem;
  }
  .textStyled {
    &.left {
      order: -1;
      max-width: 10rem;
    }

    &.right {
      order: 1;
      max-width: 7rem;
    }
    a {
      display: flex;
      align-items: center;
      height: 36px;


    }
  }
  .navbar {
    @media screen and (max-width: 1079px){
      flex-flow: column;
      align-items: center;
      gap: 12px;
      margin: auto;
      //display: none;
      //opacity: 0;
      //&.open {
      //  & ~ .textStyled, & ~ .layout-header__logo  {
      //    display: none;
      //  }
      //  display: grid;
      //  opacity: 1;
      //  margin-top: 20px;
      //  margin-bottom: auto;
      //
      //  &:first-child {
      //    margin-top: auto;
      //    margin-bottom: 20px;
      //  }
      //}

    }
  }
  @media screen and (max-width: 1079px) {
    .layout-header__logo {
      max-width: 240px;
    }
    .textStyled.left {
      margin: 0;
      order: initial;
      max-width: 182px;
    }
    .textStyled {
      max-width: 94px;
    }
    .container {
      align-items: center;
      flex-flow: column;
      margin: initial;
      display: flex;
      position: relative;
      justify-content: center;
    }
    height: 280px;
  }
}

.navbar__link {
  text-decoration: none;
  font-size: .875rem;
  color: white;
  font-weight: 300;
  display: inline-block;
  text-transform: uppercase;

  line-height: normal;
  letter-spacing: 1.4px;

  &:after {
    content: '';
    background-image: var(--actionGradient);
    height: 2px;
    transform: scaleX(0%);
    width: 100%;
    display: block;
    transition: transform 0.2s ease-in-out, color 0.25s 0.05s ease-in-out;

  }
  &:hover, &:focus, &.active {
    color: var(--colorYellow);
    &:after {
      content: '';
      background-image: var(--actionGradient);
      height: 2px;
      width: 100%;
      transform: scaleX(100%);
      display: block;
    }
  }
}
.navbar__text {
  color: #8C9389;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;

}
.layout-header__logo {

}
.footer {
  padding: 1rem 0;
  background-color: var(--background);

  .container {
    display: flex;
    justify-content: space-between;
  }
  ul {
    display: flex;
    gap: 30px;
    align-items: center;
    &:nth-child(2) {
      letter-spacing: 2.8px;
    }
    li {
      display: block;

    }

  }
  a {
    color: #8C9389;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  .logoText {
    font-size: 1.125rem;
  }
  @media screen and (max-width: 1079px){
    padding: 2rem 0 1rem;
    .navbar {
      margin-bottom: 1rem;
    }
    .container {
      flex-flow: column;
    }
    .navbar  {
      flex-flow: column;
      gap: 1rem;
    }
  }
}
