
.card {
  &.card-benefit {
	grid-column: span 3;
	cursor: pointer;
	//aspect-ratio: 1 / 1.807692307692308;
	position: relative;
	background-color: var(--backgroundCard);
	flex-direction: column;
	display: flex;

	h3, img {
	  z-index: 20;
	  position: relative;
	}

	img {
	  object-fit: cover;
	  display: block;
	}

	.card__title {
	  position: absolute;
	  bottom: 0;
	  font-weight: 300;
	  font-size: 1.5rem;
	  left: 0;
	  text-align: center;
	  color: white;
	  text-transform: uppercase;
	  margin-bottom: 10px;
	  right: 0;
	  z-index: 2;
	}
	&:first-child {
	  grid-column: 2/span 3;
	}

	.card__description {
	  background-color: #1A2714;
	  padding: 1rem 1.5rem;
	  font-weight: 300;
	  line-height: 1.25;
	  color: white;
	  position: absolute;
	  bottom: 0;
	  transform: translateY(0);
	  z-index: 1;
	  transition: all .15s .15s ease-in-out;

	  &:before {
		content: '';
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 2px;
		background: linear-gradient(90deg, #BE9042 0%, #FBDD78 60%, #C59541 100%);
	  }
	}
	.card__image{
	  position: relative;
	  flex: 1;

	  display: flex;
	  flex-direction: column;
	  svg {
		margin-top: auto;
	  }
	  &:before {
		content: '';
		display: block;
		top: 1.5rem;
		border-left: 2px solid yellow;
		border-right: 2px solid yellow;
		border-top: 2px solid yellow;
		position: absolute;
		left: 6.5%;
		right: 6.5%;
		height: 55%;
		z-index: 2;
	  }
	  &:after {
		content: "";

		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 30%;
		background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
		z-index: 20;
	  }
	}
	@media screen and (min-width: 1200px){
	  margin: 0 -10px;
	  &:hover {
		.card__description {
		  transform: translateY(calc(100% + 2px));
		}
	  }
	}
	@media screen and (max-width: 1199px){
	  .card__title {
		position: relative;
		margin-top: -2.125rem;
	  }

	  .card__description {
		position: relative;
	  }
	}
  }
  &.card-nurses {
	cursor: pointer;
	aspect-ratio: 320 / 390;
	position: relative;
	background-color: var(--backgroundCard);
	flex-direction: column;
	display: flex;

	img {
	  z-index: 20;
	  position: relative;
	}

	img {
	  object-fit: cover;
	  display: block;
	}
	.card__image{
	  position: relative;
	  flex: 1;

	  display: flex;
	  flex-direction: column;
	  svg {
		margin-top: auto;
	  }
	}
  }
  &.card-exp-recovery {
	position: relative;
	z-index: 10;

  }
}
