.burger {
  display: none;
  cursor: pointer;
	@media screen and (max-width: 1199px){
	  display: block;
	  position: absolute;
	  right: 0;
	  top: 2rem;
	}
}

.video_player {
  position: relative;

  &:before {
    content: '';
    background: var(--actionGradient);
    position: absolute;
    top: 0;
    bottom: 1.5rem;
    left: -2.5rem;
    display: block;
    right: -2.5rem;
  }

  &:after {
    content: '';
    background: var(--background);
    z-index: 1;
    position: absolute;
    top: 2px;
    bottom: 26px;
    left: -38px;
    display: block;
    right: -38px;
  }

  .video_player__title{
    position: absolute;
    text-transform: uppercase;
    bottom: 0;
    color: white;
    font-size: 40px;
    left: 2rem;
    z-index: 20;
  }

  .video_player_controls {
    position: absolute;
    bottom: 0;
    right: 2rem;
    z-index: 20;
  }
  .video_player_fallback_img {
    //position: absolute;
    z-index: 4;
    //width: 100%;
    //top: 1.5rem;
    //bottom: 0;
    //height: 100%;
    img	{
      //width: 100%;
      //height: 100%;
      //object-fit: cover;
    }
  }
  .video_player_media {
    position: relative;
    overflow: hidden;
    display: grid;
    z-index: 19;
    video {
      position: relative;
      z-index: 5;
      //margin-bottom: -1.5rem;
    }
    video,.video_player_fallback_img {
      grid-column: 1/2;
      grid-row: 1/2;

    }
    padding: 1.5rem 0 0;

  }
}

.loader {
  width: 48px;
  height: 48px;
  border:10px solid #FFF;
  border-radius: 50%;
  position: relative;
  transform:rotate(45deg);
  box-sizing: border-box;
}
.loader::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  inset:-10px;
  border-radius: 50%;
  border:10px solid #FF3D00;
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.arrow {
  width: 4rem;
  height: 4rem;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  &.swiper-button-disabled {
    //opacity: 0;
  }
  &:hover, &:focus {
    background-image: var(--actionGradient);
    border-color: transparent;
    svg {
      path {
        stroke: var(--background);
      }
    }
  }
  &.forward {

    svg {
      transform: rotate(180deg);
    }
  }
}
.rateString {
  color: var(--colorYellow);
  font-weight: 300;
  //font-size: 2rem;
}

.logoMobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  max-width: fit-content;
  left: 0;
  margin: auto;
  right: 0;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 2.375rem;
  list-style: none;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 1199px) {
    .navbar__text {
      gap: 14px;
      display: grid;
      text-align: center;
    }
  }
  @media screen and (min-width: 1200px) {
    .navbar__text {
      position: relative;
    }
    .navbar__link {
      z-index: 22;
      position: relative;
    }
    .navbar__text:hover {
      > .navbar__link {
        color: var(--colorYellow)
      };

      .navbar__submenu {
        position: absolute;
        overflow: hidden;
        height: auto;
        left: -1rem;
        transform: scaleZ(1);
        opacity: 1;
        max-height: initial;
        top: 0;
        padding-left: 0.75rem;
        width: 210px;
        padding-top: 2.5rem;
        padding-bottom: .75rem;
        gap: 1.5rem;
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 1.5rem;
          background: #1A2316;
          box-shadow: 6px 5px 6px 0 rgba(0, 0, 0, 0.25);
        }
      }
    }
    &.navbar__submenu {
      display: grid;
      position: absolute;
      padding-top: 2rem;
      gap: 1rem;
      transform: scaleZ(0);
      opacity: 0;
      border-left: 3px solid var(--colorYellow);
    }

  }
}

.custom__bullet {
  width: .5rem;
  height: .5rem;
  cursor: pointer;
  display: block;
  border-radius: 50%;
  background-color: #858574;
}

.custom_bullet_active {
  width: 10px;
  background-color: #1A2714;
  height: 10px;
}

.accordion {

}
.accordion__item {
  padding-left: 1rem;
  border-top: 2px solid #1A2714;
  border-bottom: 2px solid #1A2714;
  margin-top: -2px;
  svg {
    transition: all .5s ease-in-out;
  }
  &:hover{
    background-color: #0000000f;
  }
  &.expanded {
    background-color: rgba(0, 0, 0, 0);
    .arrow--l-r span:nth-child(4) {
      transform: rotate(-45deg);
    }
    .arrow--l-r span:nth-child(5) {
      transform: rotate(45deg);
    }
    .arrow--l-r span:nth-child(1) {
      transform: rotate(0);
    }
    .arrow--l-r span:nth-child(2) {
      transform: rotate(0);
    }

    svg {
      transition: all .5s ease-in-out;
      transform: rotateZ(0);
    }
    .accordion__text {
      transition: all 0.25s 0.15s ease-in-out;
      max-height: initial;
      transform: scaleZ(1);
      padding-bottom: 2rem;
    }
  }
}
.accordion__title {
  text-transform: uppercase;
  color: #1A2714;
  margin-top: 0;


  display: flex;
  //h3:before {
  //  content: "";
  //  background: var(--actionGradient);
  //  position: absolute;
  //  z-index: 22;
  //  width: 80%;
  //  bottom: 0;
  //  height: 2px;
  //  transition: all 35s ease-in;
  //  transition-timing-function: step-start;
  //}
  justify-content: space-between;
  svg {
    transform: rotateZ(180deg);
    cursor: pointer;
  }
  h3 {
    margin: 30px 0;
    font-weight: 400;
    flex: 1 auto;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
     a {
      color: inherit;
      text-decoration: none;
      flex: 1 1 auto;
       display: flex;
       align-items: center;
      justify-content: space-between;
    }
  }
  //&:hover {
  //  &:before {
  //    background: var(--actionGradientText);
  //    -webkit-background-clip: text;
  //    -webkit-text-fill-color: transparent;
  //    background-position: 350vw;
  //    transition-timing-function: step-start;
  //    transition: all 35s ease-out;
  //  }
  //
  //}
}
.accordion__text {
  transition: all 0.25s 0.15s ease-in-out;
  padding-left: 6rem;
  overflow: hidden;
  transform: scaleZ(0);
  max-height: 0;
  & > *:first-child {
    margin-top: 0;
  }
}


.arrow--l-r {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  rotate: 90deg;
  position: relative;
  margin: 0 1rem;

}
.arrow--l-r.left span:nth-child(4) {
  transform: rotate(-45deg);
}
.arrow--l-r.left span:nth-child(5) {
  transform: rotate(45deg);
}
.arrow--l-r.right span:nth-child(1) {
  transform: rotate(-45deg);
}
.arrow--l-r.right span:nth-child(2) {
  transform: rotate(45deg);
}
.arrow--l-r span {
  position: absolute;
  height: 0.1125rem;
  background-color: black;
  transition: transform 0.2s ease;
}
.arrow--l-r span:nth-child(1),
.arrow--l-r span:nth-child(2),
.arrow--l-r span:nth-child(4),
.arrow--l-r span:nth-child(5) {
  width: 1rem;
  top: 0.625rem;
}
.arrow--l-r span:nth-child(1) {
  right: 1px;
  transform-origin: bottom right;
}
.arrow--l-r span:nth-child(2) {
  right: 1px;
  transform-origin: top right;
}
.arrow--l-r span:nth-child(3) {
  width: 1.85rem;
  top: 0.625rem;
}
.arrow--l-r span:nth-child(4) {
  left: 1px;
  transform-origin: bottom left;
}
.arrow--l-r span:nth-child(5) {
  left: 1px;
  transform-origin: top left;
}
